:root{
  --color--view:#EF4023;
}
.ally--hidden{
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.title__container{
  margin: 0 3rem 8.750em;
  text-align: center;
}
.title__container .title{
  display: block;
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -0.02em;
  color: var(--color--view);
}
.title__container .sub__title{
  font-size: 3em;
  font-weight: 700;
}
.section__container{
  width: 1246px;
  margin: auto
}
